body{
	margin: 0px;
	background-color: #efefef;
}

a{
	text-decoration: none;
}

.col-md-12, .col-md-6{
	padding: 0px;
}

.hero{
	height: 88vh;
	background-image: url(../images/wp2.jpg);
	background-position: 20% 45%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.hero-text{
	color: white;
	z-index: 8;
	font-family: Abel;
	text-align: center;
	margin-top: 15%;
}

.logo-alini{
	height: 20px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 14px;
}

.alini-text{
	font-size: 30px;
	color: #333;
	letter-spacing: 1px;
}

.font-underline{
	color: #414b84 !important;
	font-size: 35px !important;
	transition: all 1s;
}

.menu{
	height: 80px;
	background-color: #efefef;
	padding-top: 20px;
	color: black;
	font-family: Abel;
}

.space-menu{
	transition: all 1s;
}

.logo-menu{
	padding-top: 10px;
    padding-left: 25px;
	text-decoration: none;
}

.menu-link{
	text-decoration: none;
	transition: all 1s;
	text-align: center;
}

.menu-link:hover{
	background-color: #9e9e9e;
	border-bottom: solid 3px #414b84;
	transition: all 1s;
}

.link-icon{
	height: 40px;
	width: auto;
}

.menu-link:hover .link-icon{
	transform: rotate(-360deg);
	transition: all 1s;
}

.active{
	background-color: #CCC;
	border-bottom: solid 2px #414b84;
	transition: 0.6s;
}

.skew-content{
	margin-top: -70px;
	}

.skew-1{
	transform: skew(0deg, 10deg);
	background-color: #efefef;
	height: 150px;
}

.skew-2{
	transform: skew(0deg, -10deg);
	background-color: #efefef;
	height: 150px;
}

.arrow-down{
	margin-top: 17%;
	margin-left: 48%;
	z-index: 1;
	height: 65px;
}

.skew-adjust{
	background-color: #37333b;
	height: 350px;
	transform: skew(0deg, 10deg);
	margin-top: 5%;
}

.skew-adjust2{
	background-color: #37333b;
	height: 350px;
	transform: skew(0deg, -10deg);
	margin-top: 5%;
}

.info-box{
	background-color: #37333b;
	height: 480px;
  margin-top: -206px;
  margin-bottom: -280px;
	color: white;
	font-family: Abel;
	z-index: 1;
}

.skew-text{
	padding: 0 10% 0 10%;
}

.div-ball{
	background-color: #3c2e5a;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	position: absolute;
	z-index: 2;
	border: solid 8px #efefef;
	right: 15%;
	margin-top: 2%;
}

.ball-icon{
	height: 145px;
    width: 135px;
    margin-top: 22px;
    margin-left: 25px;
}

.text-box{
	margin-top: 14%;
	margin-bottom: 9%;
	font-family: Abel;
}

.button-1{
	height: 60px;
	width: auto;
	padding: 10px 25px;
	border-radius: 1.7px;
	font-size: 20px;
	background-color: #F0F0F0;
	color: #414b84;
}

.button-1:hover{
	background-color: #414b84;
	color: white;
	transition: all ease 0.4s;
}

.info-box2{
	background-color: #37333b;
	height: 450px;
	transform: skew(0deg, -10deg);
	margin-top: 7%;
	color: white;
	box-shadow: -8px 10px 18px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.informative{
	margin-top: 150px;
}

.icon-img1{
	height: auto;
    margin-top: 15px;
    background-image: url(../images/brain-icon.png);
    background-size: contain;
    background-repeat-y: no-repeat;
}

.icon-img2{
	height: auto;
	margin-top: 15px;
	background-image: url('../images/gear-icon.png');
	background-size: contain;
	background-repeat-y: no-repeat;
}

.icon-img3{
	height: auto;
	margin-top: 15px;
	background-image: url('../images/puzzle-icon.png');
	background-size: contain;
	background-repeat-y: no-repeat;
}

.info-text{
	color: black;
	font-family: Abel;
	height: 300px;
}
.skew-footer{
	margin-top: 120px;
	background-color: #37333b;
	height: 170px;
	transform: skew(0deg, -2.5deg);
}

.footer{
	margin-top: -100px;
	background-color: #37333b;
	height: 300px;
	color: white;
	font-family: Abel;
}

.footer-icons{
	height: 35px;
    margin: 0 5px -10px 13px;
}

.footer-adjust{
	padding-left: 35px;
    padding-right: 35px;
}

.social-icons{
	height: 16px;
    width: 19px;
    margin: 7px 10px 0px 10px;;
}

.social-links{
	color: white;
	font-size: 17px;
}

.nav-item{
	color: #414b84;
	text-decoration: none;
}

.nav-text{
	color: white;
	font-size: 18px;
}

.nav-text:hover{
	color: gray;
	transition: all 0.5s;
}

.footer-down{
	height: 70px;
    background-color: #151414;
    border-top: solid 2.5px #414b84;
    color: white;
    font-family: Abel;
    padding: 25px 40px 0 40px;
}

.final-icon{
	height: 30px;
    width: auto;
    margin: -11px 10px -7px 10px;
}

/* Ferramentas Extras */

.space-top-7{
	margin-top: 7%;
}

.space-bottom-5{
	margin-bottom: 5%;
}

.hide{
	display: none;
	transition: all 1s;
}
